*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/img/bg.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  background-image: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(45deg, rgb(18, 105, 233), rgb(166, 255, 155));
  height: 90vmin;
  width: 90vmin;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.head {
  background-color: firebrick;
}

.food {
  background-color: forestgreen;
}
